{% extends 'signin.html' %}
{% load static %}

{% block content %}
<div>
    <div class="lg:p-12 max-w-md max-w-xl lg:my-0 my-12 mx-auto p-6 space-y-">
        <h1 class="lg:text-3xl text-xl font-semibold  mb-6"> Se connecter </h1>
        <div>
            <style>
                .bad{
                    color: red ;
                }   
            </style>
            {% for message in messages %}
                <h5 class="bad">{{ message }}</h5>
            {% endfor %}
            
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" name = "username" placeholder="Nom d'utilisateur" class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800" style="border: 1px solid #d3d5d8 !important;">
            <input type="password" name = "password" placeholder="Mot de passe" class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800" style="border: 1px solid #d3d5d8 !important;">
            {% comment %} <div class="flex justify-between my-4">
                <div class="checkbox">
                    <input type="checkbox" id="chekcbox1" checked>
                    <label for="chekcbox1"><span class="checkbox-icon"></span>Se souvenir</label>
                </div>
                <a href="#"> Mot de passe oubliez ? </a>
            </div> {% endcomment %}
            <button type="submit" class="bg-gradient-to-br from-pink-500 py-3 rounded-md text-white text-xl to-red-400 w-full">Connexion</button>
            <div class="text-center mt-5 space-x-2">
                <p class="text-base"> Je ne suis pas encore inscris 😑 <a href="/signup" class=""> Inscrivez-vous ici 😁</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock content %}